/* HEADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    color: #212529;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
button{
    background-color: #ff0e83;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 13px 32px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}
button:hover{
    background: white;
    color: black;
    border-color: #ff0e83 ;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
header{
    background-color: #4e2a84;
    padding: 20px 0;
}
.header__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content p{
    font-size: 2.3rem;
    color: white;
}
.header__content ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
    margin: 0 1rem;
}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;    
}
.header__content ul a:hover{
color: #ff0e83;
}
.header__content ul .active a{
    color: #ff0e83;
}
/* Banner */
.banner{
    background-image: url("../img/b3.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content h1{
    font-size: 3.5rem;
}
.banner_content p{
    font-size: 1.1rem;
    padding: 23px 0;
}
/* INTRO */
.intro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.intro_1st{
    grid-column: 2 / span 2;
}
.intro_2nd{
    grid-column: 1/ 3;
}
.intro_3rd{
    grid-column: 3/ span 2;
}
.intro_item img{
    width: 100%;
    display: block;
}
.intro_item {
    display: flex;
    align-items: center;
    text-align: center;
}
.intro_text{
    padding: 0 32px;
}
.intro_item h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro_item p{
    color: #c1c1c1;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 29px;
}
.intro .intro_item:first-child, .intro_item:nth-child(8){
    background-color: #4e2a84;
}
.intro .intro_item:nth-child(3){
    background-color: #ff0e83;
}
.intro_item:nth-child(4){
    background-color: #ed648e; ;
}
.intro_item:nth-child(6){
    background-color: #836eaa; ;
}
/* NUMBER */
.number{
    padding: 70px 0;
}
.number_content{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.number_item p:nth-child(1){
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}
.number_item p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVICES */
.services{
    background-image: url("../img/s1.jpg");
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}
.services h2{
    color: white;
}
.services_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.services_item{
    padding: 0 20px;
}
.services_item i{
    width: 105px;
    height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    font-size: 3.75rem;
    color: #4e2a84;
    justify-content: center;
    line-height: 105px;
    transition: all 0.5s;
}
.services_item h3{
    font-size: 1.5rem;
    margin: 17px 0;
    font-weight: 500;
}
.services_item p{
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}
.services_item button{
    padding: 12px 27px;
    border-width: 2px;
}
.services_item:hover i{
    color: #ff0e83;
}
/* GALLERY */
.gallery{
    padding: 70px 0;
}
.gallery_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery_item:nth-child(1){
    grid-column: 1/ 3;
}
.gallery_item:nth-child(6){
    grid-column: 3 / span 2;
}
.gallery_item img{
    width: 100%;
    display: block;
    height: 100%;
}
.gallery_item{
    position: relative;
    overflow: hidden;
}
.gallery_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(48, 132, 163, 0.2) ;
    color: white;
    text-align: right;
    padding: 38px 28px;
}
.gallery_overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}
.gallery_overlay h3 span{
    font-weight: 300;
}
.gallery_overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    transform: translateY(50px);
    transition: all 0.5s;
    opacity: 0;
}
.gallery_overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    margin-top: 10px;
    background-color: white;
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0;
}
.gallery_item:hover .gallery_overlay h3{
    transform: translateY(0);   
}
.gallery_item:hover .gallery_overlay h3::after{
    transform: translateY(0);
    opacity: 1;   
}
.gallery_item:hover .gallery_overlay p{
    transform: translateY(0);
    opacity: 1;   
}
