/* HEADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    color: #212529;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}
button{
    background-color: #ff0e83;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 13px 32px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}
button:hover{
    background: white;
    color: black;
    border-color: #ff0e83 ;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
header{
    background-color: #4e2a84;
    padding: 20px 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.header__content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content p{
    font-size: 2.3rem;
    color: white;
}
.header__content ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
    margin: 0 1rem;
}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: linear;    
}
.header__content ul a:hover{
color: #ff0e83;
}
.header__content ul .active a{
    color: #ff0e83;
}
/* Banner */
.banner{
    background-image: url("../img/b3.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content h1{
    font-size: 3.5rem;
}
.banner_content p{
    font-size: 1.1rem;
    padding: 23px 0;
}
/* INTRO */
.intro{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.intro_1st{
    grid-column: 2 / span 2;
}
.intro_2nd{
    grid-column: 1/ 3;
}
.intro_3rd{
    grid-column: 3/ span 2;
}
.intro_item img{
    width: 100%;
    display: block;
}
.intro_item {
    display: flex;
    align-items: center;
    text-align: center;
}
.intro_text{
    padding: 0 32px;
}
.intro_item h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro_item p{
    color: #c1c1c1;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 29px;
}
.intro .intro_item:first-child, .intro_item:nth-child(8){
    background-color: #4e2a84;
}
.intro .intro_item:nth-child(3){
    background-color: #ff0e83;
}
.intro_item:nth-child(4){
    background-color: #ed648e; ;
}
.intro_item:nth-child(6){
    background-color: #836eaa; ;
}
/* NUMBER */
.number{
    padding: 70px 0;
}
.number_content{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.number_item p:nth-child(1){
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}
.number_item p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVICES */
.services{
    background-image: url("../img/s1.jpg");
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}
.services h2{
    color: white;
}
.services_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.services_item{
    padding: 0 20px;
}
.services_item i{
    width: 105px;
    height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    font-size: 3.75rem;
    color: #4e2a84;
    justify-content: center;
    line-height: 105px;
    transition: all 0.5s;
}
.services_item h3{
    font-size: 1.5rem;
    margin: 17px 0;
    font-weight: 500;
}
.services_item p{
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}
.services_item button{
    padding: 12px 27px;
    border-width: 2px;
}
.services_item:hover i{
    color: #ff0e83;
}
/* GALLERY */
.gallery{
    padding: 70px 0;
}
.gallery_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery_item:nth-child(1){
    grid-column: 1/ 3;
}
.gallery_item:nth-child(6){
    grid-column: 3 / span 2;
}
.gallery_item img{
    width: 100%;
    display: block;
    height: 100%;
}
.gallery_item{
    position: relative;
    overflow: hidden;
}
.gallery_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(48, 132, 163, 0.2) ;
    color: white;
    text-align: right;
    padding: 38px 28px;
}
.gallery_overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}
.gallery_overlay h3 span{
    font-weight: 300;
}
.gallery_overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    transform: translateY(50px);
    transition: all 0.5s;
    opacity: 0;
}
.gallery_overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    margin-top: 10px;
    background-color: white;
    transform: translateY(20px);
    transition: all 0.5s;
    opacity: 0;
}
.gallery_item:hover .gallery_overlay h3{
    transform: translateY(0);   
}
.gallery_item:hover .gallery_overlay h3::after{
    transform: translateY(0);
    opacity: 1;   
}
.gallery_item:hover .gallery_overlay p{
    transform: translateY(0);
    opacity: 1;   
}
/* TEAM */
.team{
    background-color: #4e2a84;
    padding: 70px 0;
}
.team h2{
    color: white;
}
.team_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 30px;
    width: 75%;
    margin: auto;
}
.team_item img{
    width: 100%;
    display: block;
}
.team_item{
    position: relative;
}
.team_title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #ff0e83;
    padding: 30px;
    opacity: 1;
    transition: all 0.5s;
}
.team_item h3{
    font-size: 1.3rem;
}
.team_item p{
    font-size: 0.875rem;
    line-height: 28px;
}
.team_details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 100px 40px;
    color: white;
    opacity: 0;
    transition: all 0.5s;
}
.team_item:hover .team_title{
    opacity: 0;
}   
.team_item:hover .team_details{
    opacity: 1;
}
.team_details h3{
    color: #ff0e83;
}
.team_details p{
    margin: 8px 0;
}
.team_socials{
    margin-top: 24px;
}
.team_socials i{
    width: 37px;
    height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    transition: all 0.5s;
}
.team_socials i:hover{
color: #ff0e83;
border-color: #ff0e83;
}
/* FEEDBACK */
.feedback{
 background-image: url("../img/cc1.jpg");
 background-size: cover;
 padding: 70px 0;
}
.feedback h2{
    color: white;
}
.feedback_content{
    width: 75%;
    margin: 0 auto;
    border: 3px solid #ff0e83;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 32px;
}
.feedback_content i{
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}
.feedback_content p{    
    line-height: 30px;
    letter-spacing: 1.3px;
}
.feedback_content p:nth-child(2){
    color: white;
}
.feedback_content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
}
.feedback_content .owl-theme .owl-dots .owl-dot.active span{
    background-color: black;
}
/* CONTACT */
.contact{
    padding: 70px 0;
}
.contact_form form{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}
.contact_form textarea, button{
    grid-column: 1 / 3;
    padding: 15px;
}
.contact_form input{
    padding: 15px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    transition: all 0.5s;
}
.contact_form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.contact_form textarea{
    border: 1px solid black;
    resize: none;
}
.contact_form textarea:focus{
    outline: none   ;
}
.contact_form textarea::placeholder{
    color: black;
}
.contact_form button{
    background-color: #ff0e83;
    color: black;
    transition: all 0.5s;
}
.contact_form button:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.contact_map iframe{
    width: 100%;
    margin-top: 70px;
}
.contact_info{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
}
.contact_info .contact_item i{
    font-size: 2rem;
    color: #4e2a84;
}
.contact_info .contact_item p{
    font-size: 0.8rem;
    margin: 10px 0;
}
/* FOOTER */
.footer_socials i{
    width: 35px;
    height: 35px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 35px;
    transition: all 0.5s;
    margin-right: 10px;
}
.footer_socials i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}
footer{ 
    background-color: black;
    padding: 50px 0;   
}
.footer_main{
    width: 70%;
    color: white;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;
}
.footer_item{
    width: 25%;
    padding: 0 20px;
}
.footer_item h3{
    font-size: 1.3rem;
    color: #ff0e83;
    margin-bottom: 1rem;
}
.footer_item p{
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 1rem;
}
.footer_time{
    display: flex;
    justify-content: space-between;
    border-bottom:  1px dotted white ;
}
.footer_time p{
    padding: 0;
    margin: 10px 0;
}
.footer_item .footer_subsribe input{
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.footer_item .footer_subsribe input:focus{
    outline: none;
}
.footer_item .footer_subsribe button{
    padding: 7px 16px;
    color: black;
    font-weight: 700;
    border: 1px solid #ff0e83;
    margin-bottom: 24px;
}
.footer_item .footer_subsribe button:hover{
    border-color: black;
}
.footer_copyright{
    font-size: 0.8rem;
    text-align: center;
    color: white;
}
.footer_copyright span{
    color: #ff0e83;
}
/* BACK TO TOP */
.backtotop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    visibility: hidden;
    opacity: 0;
}
.backtotop i{
    height: 40px;
    width: 40px;
    line-height: 36px;
    border: 2px solid #2cbeff;
    text-align: center;
    font-size: 2rem;
    color: #2cbeff;
    border-radius: 50%;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  /* TRANTISION */
.team_item2{
    overflow: hidden;
}
.team_item2 .team_details{
    opacity: 1;
    transform: translateX(-100%);
}
.team_item2:hover .team_details{
    transform: translateX(0);
}
.team_item3{
    overflow: hidden;
}
.team_item3 .team_details{
    opacity: 1;
    transform: translateY(100%);
}
.team_item3:hover .team_details{
    transform: translateY(0);
}
.team_item4 .team_details{
    transform: rotate(0deg);
}
.team_item4:hover .team_details{
    transform: rotate(360deg);
}
.team_item5 .team_details{
    transform: scale(0);
}
.team_item5:hover .team_details{
    transform: scale(1);
}
.team_item6{
    overflow: hidden;
}
.team_item6 .team_details{
    transform: skewX(-90deg);
}
.team_item6:hover .team_details{
    transform: skewX(0);
}
/* Khai báo chuổi chuyển động */
@keyframes upDown{
    0%{}
    50%{
        transform: translateY(25%);
    }
    100%{
        transform: translateY(0);
    }
}
.banner button:hover{
    animation: upDown 1s linear 0s infinite ;
}
@keyframes Zoom{
    0%{}
    50%{
        transform: scale(90%);
    }
    100%{
        transform: scale(110%);
    }
}
.footer_item .footer_subsribe button:hover{
    animation: Zoom 1s linear 0s infinite ;
}
